body {
	background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.num, .sym, .clearBtn, .backBtn, .eq {
    background-color: black;
    opacity: 0.75;
    color: white;
    font-size: 6em;
    text-align: center;
    cursor: default;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sym:hover, .clearBtn:hover, .backBtn:hover, .eq:hover {
    background-color: cyan;
}

.num:hover {
    background-color: gray;
}

.display {
	height: 2em;
	font-size: 8em;
	color: white;
	cursor: default;
    float: right;
}